*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "poppins";
}
.con{
    width: 100px;
    height: 1oovh;
    background-color: #ccc;
}
.conte{
width: 100%;
height: 100vh;
background-color: #ccc;
display: flex;
align-items: center;
justify-content: center;
display: flow-root;

}

